<html>
  <head>
    <title>Courses</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="styles/style.css">
  </head>
  <body>
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th>Subject</th>
            <th>Number</th>
            <th>Grade</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < courses.length; i++) { %>
             <tr>
               <td><%= courses[i].subject %></td>
               <td><%= courses[i].number %></td>
               <td><%= courses[i].grade %></td>
               <td><a class="delete-link" href="" data-id=<%= courses[i]._id %>>Delete</a></td>
             </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="scripts/script.js"></script>
</html>